body{
	background-image: url('../assets/marvel-logo-wallpaper.jpg');
	background-size: 100%;
	background-repeat: none;
}
.App{
	text-align: center;
	padding: 2%;
}
.app-title{
	margin: auto;
	width: 60%;
	background-color: red;
	font-style: bold;
}
.alphabetLinks{
	display: inline-block;
	cursor: pointer;
	background-color: red;
}
.letter{
	display: inline-block;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-color: #adadad;
	width: 40px;
}
img {
	max-width: 100%;
	max-height: 250px;
	margin: auto;
}
.scroll-characters {
	overflow:auto;
	height: 350px;
}
.biography{
}
.alpha-search {
	width: 60%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
}
