body{
	background: radial-gradient(#5E8490, #00181F);
	background-size: 100%;
	background-repeat: none;
}
.App{
	text-align: center;
	padding: 2%;
}
.app-title{
	margin: auto;
	width: 60%;
	background-color: #5E8490;
	font-style: bold;
	border: none;
	border-radius: 25px;
}
.alphabetLinks{
	display: inline-block;
	cursor: pointer;
}
.letter{
	display: inline-block;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-color: #adadad;
	width: 40px;
	color: #00181F;
	font-size: 1.2em;
	font-style: bold;
}
.letter:hover{
	color: #BDC4C7;
}
.portrait{
	background-color: #00181F;
	height: 100%;
	vertical-align: middle;
}
img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
	margin: auto auto;
}
.characterwrapper{
	height:500px;
}
.biowrapper{
  justify-content: center;
	height: 90%;
	width: 90%;
	vertical-align: middle;
	
}
.scroll-characters {
	overflow:auto;
	height: 350px;
	color: black;
	border: none;
}
.biography{
	overflow: auto;
	color: black;
	font-size: 1em;
	height: 350px;
}
.flexxy{
}
.alpha-search {
	width: 60%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: none;
}
.well {
	border-radius: 25px;
	border: none;
	background: radial-gradient(#BDC4C7, #5E8490);
}
h1{
	color: black;
}
h3{
	color: black;
	border-radius: 25px;
	background-color: #BDC4C7;
}
.favBadge{
	float: right
}
.bioDetails{
	display: inline-block;
	height: 100%;
	width: 100%;
}
.nav-pills .pill-1 .nav-link {
    background-color: rgba(255, 0, 0, 0.2);
    color: white;
}
